*{
    font-family: 'Libre Baskerville', serif;
 
}

h1{
    font-size: 3.5vw;
    text-align: center
}


.top{
    background-image: url(merritts.jpeg);
    height: 105vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
top: -5vh;
left: 0;
right: 0;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.row{
    z-index: 1;

}
.hamburger{
    position: absolute;
    left: 3%;
    top: 10%;
}
.text{
    border: none;
    margin: 0;
    height: 50vh;
}

.text-text{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 13%;
    line-height: 3em;
    color: gray
}

.text-title{ 
    position: absolute;
    left: 15%;
    right: 15%;
    font-size: 2em;
    text-align: center;
}
.menu{
    position: absolute;
    width: 100%;
    bottom: 1%;
    text-align: center;
    left: 0;
    right: 0
}

.btn{
    background-color: #86B6DA;
    color: #ffffff;
    border-color: white;
}

.btn:hover{
    background-color: white;
    color: #86B6DA;

}
.row2{
    padding: 5;
}

.col-lg-4{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;

}

.card-body{
    text-decoration: none;
    color: black;

}

.sidenav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #86B6DA;
    overflow-x: hidden;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
  }
  
  .sidenav a:hover {
    color: #c7c7c7;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media only screen and (max-width: 600px) {
    .top{
        background-image: url(merritts.jpeg);
        height: 45vh; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        position: relative;
    top: -3vh;
    left: 0;
    right: 0;
    }


    .text{
        border: none;
        background-color: rgb(255, 255, 255) ;
        margin: 0;
        height: 120vh;
    }

    .text-text{
        position: absolute;
        left: 7%;
        right: 7%;
        top: 11%;
    }
    
    .text-title{ 
        position: absolute;
        left: 7%;
        right: 7%;
    }
}